/* --- ESTILOS DE AUTENTICACIÓN --- */
.auth-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #121212; 
    padding-top: 0; 
}

.auth-container {
    background-color: #1e1e1e;
    padding: 40px;
    border-radius: 10px;
    border: 2px solid #00ff88; /* Borde verde neón */
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 255, 136, 0.2);
}

.auth-container h2 {
    color: white;
    margin-bottom: 30px;
    font-size: 2rem;
}

.input-box {
    margin-bottom: 20px;
    text-align: center;
}

.input-box input {
    width: 100%;
    max-width: 300px;
    padding: 15px;
    background: #121212;    
    border: 1px solid #333;
    border-radius: 5px;
    color: white;
    outline: none;
    transition: 0.3s;
    
}

.input-box input:focus {
    border-color: #00ff88;
}

.auth-container p {
    color: #ccc;
    margin-top: 20px;
    font-size: 0.9rem;
}

.auth-container a {
    color: #00ff88;
    text-decoration: none;
    font-weight: bold;
}

.back-link {
    display: block;
    margin-top: 30px;
    font-size: 0.8rem;
    color: #888 !important;
}

.btn-primary {
    background-color: #00ff88;
    color: #121212;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #00cc6a;
}